/* LET THE STYLING BEGIN */
@media print
{
    button, .no-print
    {
        display: none !important;
    }
}
#app {
}
#qr_container{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.qr_element {
    margin-top: 40px;
    justify-content: center;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    /*margin-right: 50px;*/
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3px;
}
span.title {
    flex: 0;
    min-width: 70px;
}
.company-name {
    font-size: 16px;
}
.qr_value{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 3px;
    margin: 5px;
}
span.value {
    flex: 1;
    font-weight: bold;
    word-break: break-all;
}
div, canvas, span, img {
    break-inside: avoid-page;
}
button {
    margin-right: 10px;
}
.modal-backdrop.show {
    opacity: 0;
}
.modal {
    overflow-y: auto;
}
